*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
:root{
--Whitecolor: hsl(0, 0%, 100%);
--Stone100: hsl(30, 54%, 90%);
--Stone120:hsl(30, 20%, 88%);
--Stone150: hsl(30, 3%, 60%);
--Stone600: hsl(30, 10%, 34%);
--Stone900: hsl(24, 5%, 18%);
--Brown800: hsl(14, 45%, 36%);
--Rose50: hsl(330, 100%, 98%);
--Rose800: hsl(332, 51%, 32%);
}
body{
display: flex;
justify-content: center;
align-items: center;
font-family: Outfit;
background-color: var(--Stone100);
}
#image{
border-radius:8px ;
    width: 100%;
}
main h1{
    color: var(--Stone900);
}
main h5{
font-size: 8px;
color: var(--Stone150);
}
main{
    max-width: 440px;
    min-width: 320px;
    padding: 20px;
    background-color: var(--Whitecolor);
    border-radius: 12px;
}
#section-header{
background-color: var(--Rose50);
padding: 10px;
margin-top: 15px;
border: none;
margin-bottom: 10px;
    border-radius:5px;
}
#section-header p{
    color: var(--Rose800);
    font-size: 14px;
    font-weight: bold;
}
ul{
    font-size: 8px;
    margin-left: 18px;
    color: var(--Stone600);
    margin-top: 6px;
    line-height: 18px;
}
section{
    color: var(--Brown800);
    border: 2px solid var(--Stone120);
    border-top: none;
    border-left: none;
    border-right:none ;
    padding-bottom: 20px;
    margin-top: 15px;
}
section h3{
    font-family:Cochin, Georgia, Times, 'Times New Roman', serif;
}
#text{
font-size: 10px;
}
ul ol{
        font-family: Outfit;
    color: var(--Brown800);
    font-weight: bolder;
    font-size: 9px;
}
ul p{
        font-size: 9px;
    margin-left: 18px;
    color: var(--Stone150);
    margin-top: 6px;
    line-height: 18px;
}
ul strong{
    font-size: 10px;
    color: var(--Stone600);
}
#data{
border: none;
padding-bottom: 0;
}
#data-data{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 0;
}
.data-data{
        display: grid;
    grid-template-columns: 1fr 1fr;
}
.Name-data{
    color: var(--Stone600);
    font-size: 12px;
}
.data-number{
    font-size: 12px;
        color: var(--Brown800);
        font-weight: bold;

}
